tfoot
  tr
    td(colspan='4')
      div.pagination
        a(href=prevLink, class=`button${page <= 1 ? ' disabled' : ' '}`) Previous Page
        span Page <strong>#{page}</strong> of <strong>#{pages}</strong>
        a(href=nextLink, class=`button${page >= pages ? ' disabled' : ' '}`) Next Page